.hero
  background-image url(../images/hero-background.jpg)
  display block
  height 100vh
  margin 0
  padding 0


  @media all and (max-width 500px)
    background-position top center
    background-repeat no-repeat
    background-size contain

  @media all and (min-width 1200px)
    background-position bottom center
    background-size cover
