.hero
  #link__cre
    &:hover
      cursor pointer
  margin 95px 0 0 0
  padding 0

  &__image
    height auto
    margin 0 auto
    padding 0
    width 100%

  @media all and (max-width 450px)
    //margin-top 58px
    //margin-bottom: -250px;

  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)
    //margin-bottom: -300px;
