.mosaic
  background-color white
  margin 0
  padding 0

  &__container
    margin 0 auto

  &__title
    background-color rgb(100, 40, 40)
    color white
    display block
    margin 0
    padding 1rem
    text-align center

  &__item
    display inline-block
    width 33%

  &__image
    max-width 100%

  @media all and (min-width 1201px)
    &__container
      width 1200px
