.mosaic
  background-color white
  margin 0
  padding 0

  &__container
    display flex
    justify-content space-around
    margin 0 auto
    padding 2rem 0

  &__title
    background-color #cc3333
    color white
    display block
    margin 0
    padding 1rem
    text-align center

  &__item
    display inline-block
    width 300px

  &__image
    max-width 100%

  @media all and (min-width 1201px)
    &__container
      width 1200px
