.mosaic
  background-color white
  margin 0
  padding 0

  &__container
    margin 0 auto
    padding 6rem 0

  &__header
    background-color none
    text-align center

  &__box
    display flex
    justify-content space-around
    margin-top 2rem

  &__mainTitle
    border-bottom 4px solid #c33
    display inline-block
    font-size 2rem
    font-weight bold
    margin-top 0

  &__title
    color #cc3333
    display block
    font-weight bold
    margin 1rem
    padding 0
    text-align center

    &:link
      text-decoration none

    &:hover
      text-decoration underline

  &__item
    display inline-block
    text-decoration none
    width 300px

  &__picture
    margin 0 auto
    text-align center

  &__image
    height 150px
    margin 0 auto
    text-align center

  @media all and (max-width 800px)
    &__box
      display block

    &__item
      display block
      margin 1rem auto

  @media all and (min-width 1201px)
    &__container
      width 1200px
