.nav
  background-color #c33
  display none
  font-family 'Flama Basic'
  font-weight bold
  transition all 0.25s ease

  &__container
    box-sizing border-box
    padding 1rem 0

  &__tabs
    align-content center
    align-items center
    display flex
    justify-content space-between
    list-style none
    margin 0
    padding 0

    &Link
      color white
      font-size 1rem
      text-decoration none

    &Logo
      width 130px

  @media all and (min-width 701px) and (max-width 1200px)
    display block

    &__container
      padding 1rem
      width 100%

  @media all and (min-width 1201px)
    display block
    position fixed
    top 0
    left 0
    right 0

    &__container
      margin 0 auto
      width 1200px

