.products
  background-color white

  &__container
    margin 0 auto
    padding 4rem 0
    width 1200px

  &__header
    margin 0 auto
    text-align center

  &__title
    border-bottom 4px solid #cc3333
    display inline-block
    font-size 2rem

  &__text
    text-align center

  &__sections
    display flex

  &__section
    box-sizing border-box
    color white
    display inline-block
    flex stretch
    margin-top 2rem
    padding 2rem
    text-align center
    vertical-align top
    width 49%

    &Title
      font-size 2rem
      display block
      padding 1rem

    &Text
      line-height 1.5
      margin-top 0
      padding-top 0
      position relative
      top -2rem

  &__box
    border 4px solid white
    box-sizing border-box
    height 100%
    padding 2rem

#product-crew
  background-image url(../images/servivales-blur.png)
  background-size cover

#product-vales
  background-image url(../images/flotillas-blur.png)
  background-size cover

