.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }
.services
  color white
  background-color #c33

  &__container
    box-sizing border-box
    margin 0 auto
    padding 2.5rem 0
    width 90%

  &__header
    //margin-top 17rem
    text-align center

  &__list
    padding 2rem 0
    display flex
    flex-wrap wrap

  &__title
    border-bottom 4px solid white
    display inline-block
    font-size 2rem
    text-align center

  &__text
    display block
    font-size 1.2rem
    margin 0.5rem 2rem
    text-align justify

  &__segmentBorder
    border 3px solid
    width 80%
    margin 0 auto
    padding 10px

  &__segment
    box-sizing border-box
    display inline-block
    margin 0 auto
    padding 6rem 0
    text-align center
    width 20%

    &:hover
      cursor pointer

    /* Make "Estaciones de servicio" text smaller to fit in one line
    &:first-child
      font-size 0.7em*/

    &Text
      color white
      background-color rgba(255, 0, 0, 0.5)
      display inline-block
      margin 0
      padding 15px
      width 81%

  @media all and (min-width 601px) and (max-width 800px)
    &__container
      margin 0
      padding 1rem 0

    &__title
      margin 0 auto 2rem auto

  @media all and (max-width 801px)
    margin-top 48px
    &__container
      padding-bottom 0
      width 100%

    &__text
      font-size 1rem
      margin 1rem 2rem
      text-align left

    &__list
      /*
      align-items center
      align-content center
      padding 2rem 0 0 0*/
      flex-direction column

    &__segment
      margin 0
      width 100%

      &Text
        padding 0.25rem

  @media all and (min-width 801px) and (max-width 1200px)
    &__container
      padding-bottom 0
      width 100%

    &__list
      padding-bottom 0
      margin-bottom 0

  @media all and (min-width 1201px)
    &__container
      width 90%

#fact
  background-image url(../images/writing.png)
  background-position center center
  background-size cover

#provee
  background-image url(../images/proveedores.png)
  background-position center center
  background-size cover

#limp
  background-image url(../images/clean.png)
  background-position center center
  background-size cover

#spits
  background-image url(../images/servipits.png)
  background-position center center
  background-size cover

#gas
  background-image url(../images/gas.png)
  background-position center center
  background-size cover
