.services
  color white
  background-color #c33

  &__container
    margin 0 auto
    padding 2.5rem 0
    width 1200px

  &__header
    margin-top 17rem
    text-align center

  &__list
    padding 2rem 0

  &__title
    border-bottom 4px solid white
    display inline-block
    font-size 2rem
    text-align center

  &__text
    display block
    font-size 1.2rem
    margin 0.5rem auto
    text-align justify

  &__segment
    box-sizing border-box
    display inline-block
    margin 0 auto
    padding 6rem 0
    text-align center
    width 33%

    &:hover
      cursor pointer

    &Text
      border 2px solid white
      color white
      display inline-block
      margin 0
      padding 2rem

  @media all and (min-width 601px) and (max-width 800px)
    &__container
      margin 0
      padding 1rem 0

    &__title
      margin 0 auto 2rem auto

  @media all and (max-width 801px)
    &__container
      padding-bottom 0
      width 100%

    &__text
      font-size 1rem
      margin 1rem 2rem
      text-align left

    &__list
      align-items center
      align-content center
      display block
      padding 2rem 0 0 0

    &__segment
      margin 0

      &Text
        padding 0.25rem

  @media all and (min-width 801px) and (max-width 1200px)
    &__container
      width 100%

  @media all and (min-width 1201px)
    &__container
      width 1200px

#fact
  background-image url(../images/gradient-bg.png),
                   url(../images/writing.jpg)
  background-position center center
  background-size cover

#provee
  background-image url(../images/gradient-bg.png),
                   url(../images/clean.png)
  background-position center center
  background-size cover

#limp
  background-image url(../images/gradient-bg.png),
                   url(../images/clean.png)
  background-position center center
  background-size cover

#spits
  background-image url(../images/gradient-bg.png),
                   url(../images/writing.jpg)
  background-position center center
  background-size cover

#gas
  background-image url(../images/gradient-bg.png),
                   url(../images/gas.png)
  background-position center center
  background-size cover
