.us
  background-color #e6e6e6

  &__container
    margin 0 auto
    padding 4rem 0 2rem 0
    width 1200px

  &__header
    display block
    margin 0 auto
    padding 0
    text-align center

  &__title
    border-bottom 4px solid #cc3333
    display inline-block
    font-size 2rem
    margin 2rem auto

  &__sections
    display flex
    justify-content space-around

  &__section
    flex stretch
    text-align center
    width 300px

    &Image
      margin 0
      max-width 100%
      padding 0

    &Label
      color #cc3333

    &Description
      margin 1rem

    &Text
      padding: 2.5rem;
      background-image: url("../images/see-more.png");
      display: block;
      background-position: 164px 9px;
      background-repeat: no-repeat;
      color: white;
      font-weight: bold;
      text-decoration: none;
      background-size: contain;
      font-size: 0.7rem;

  @media all and (max-width 1200px)
    &__container
      width 100%

  @media all and (min-width 1201px)
    &__container
      width 1200px

