.us
  background-color white

  &__container
    margin 0 auto
    padding 4rem 0 2rem 0
    width 1200px

  &__header
    display block
    margin 0 auto
    padding 0
    text-align center

  &__title
    border-bottom 4px solid #cc3333
    display inline-block
    margin 2rem auto

  &__sections
    display flex
    justify-content space-around

  &__section
    flex stretch
    text-align center
    width 300px

    &Image
      margin 0
      max-width 100%
      padding 0

    &Label
      color #cc3333

  @media all and (max-width 1200px)
    &__container
      width 100%

  @media all and (min-width 1201px)
    &__container
      width 1200px

