.us
  background-color #e6e6e6

  &__container
    margin 0 auto
    padding 4rem 0 2rem 0
    width 1200px

  &__header
    display block
    margin 0 auto
    padding 0
    text-align center

  &__title
    border-bottom 4px solid #cc3333
    display inline-block
    font-size 2rem
    margin 8rem auto 2rem auto

  &__sections
    overflow: hidden
    padding 0 100px 0 100px
    background linear-gradient(0, #f93 70%, #e6e6e6 50%)
    display flex
    margin 0 -10vw -22rem -10vw
    justify-content space-around
    position relative
    border-bottom 2px solid white

  &__section
    flex stretch
    text-align center
    width 300px

    &Image
      margin 0
      max-width 100%
      padding 0

    &Label
      color white

    &Description
      color white
      margin 1rem

    &Text
      color white
      display block
      font-weight bold
      font-size 1rem

  @media all and (max-width 600px)
    &__title
      border-bottom 4px solid black
      margin 2rem 0

    &__container
      padding 0

  @media all and (min-width 601px) and (max-width 800px)
    margin 0
    padding 10rem 0 2rem 0
    position static

    &__title
      margin 0

    &__box
      padding 0

    &__container
      margin 0
      padding 2rem 0

    &__section
      &Label
        margin 0.5rem
        padding 0

      &Description
        display none

      &Text
        background none
        color black
        font-size 0.9rem
        margin 0
        padding 0

  @media all and (max-width 1200px)
    &__container
      width 100%

  @media all and (min-width 1201px)
    &__container
      width 1200px
