.nav-mobile
  background-color #c33
  box-sizing border-box
  padding 0.5rem 1rem
  position fixed
  top 0
  left 0
  width 100vw
  z-index 50

  &__logo
    display block
    margin 0 auto
    text-align center
    width 100px

  @media all and (min-width 501px)
    display none
