div(class='modal', id='qs-modal', data-active='false')
  div(class='modal__container')
    //
      img(class='modal__backgroundOrange', src='images/half-orange.png')
      img(class='modal__backgroundCircle', src='images/half-red.png')
      img(class='modal__backgroundWorker', src='images/worker.png')
    img(class='modal__backgroundWorker', src='images/worker_decoration.png')

    div(class='modal__box')
      header(class='modal__header')
        h2(class='modal__title') ¿QUIÉNES SOMOS?
        a(class='modal__close', id='qs-close')
          i(class="fa fa-times" aria-hidden="true")

      p(class='modal__text') Somos una empresa mexicana, con presencia comercial en los Estados de Tabasco, Veracruz, el Valle de México e Hidalgo.  Todas nuestras gasolineras cuentan con la certificación Cualli de la franquicia PEMEX.
      p Mucho más allá del concepto tradicional, nos hemos ocupado en desarrollar un sistema de gestión para la calidad en el servicio que nos distingue. Para ello, contamos con:

      ul
        li Auditorías internas de calidad operativa, donde revisamos nuestro compromiso con el cliente mediante la venta adecuada de combustibles y lubricantes de calidad, la mejora continua de nuestros procesos,  la innovación tecnológica, el cumplimiento a las normas de seguridad y el respeto por el medio ambiente.
        li Auditorías de “5S”, programa corporativo instaurado en todas nuestras estaciones de servicio, donde se revisa que el personal lleve a cabo la filosofía del orden y de la limpieza.
        li Visitas de Monitoreo, propias y a través de terceros, donde se califica la prestación adecuada del servicio, en el área de despacho y en facturación.
        li Capacitación constante a nuestros despachadores, quienes se han convertido en promotores de servicio.

      p De igual manera, en Servifácil ofrecemos a nuestros clientes productos y soluciones para el control y ahorro en el consumo de combustible porque pensamos en su economía y en su lealtad; y, también contribuimos con diferentes causas en las ciudades donde desarrollamos nuestras actividades, porque tenemos claro el compromiso social que debemos asumir. Para nosotros la única filosofía que cuenta es la de hacer ¡MÁS POR TI!, tal como reza nuestro eslogan.
