div(class='modal', id='ser-limp', data-active='false')
  div(class='modal__container')
    img(class='modal__backgroundWorker' src='images/worker_decoration.png')

    header(class='modal__header')
      h2(class='modal__title') SERVICIO DE LIMPIA PARABRISAS Y CALIBRACIÓN DE LLANTAS
      button(class='modal__close', id='ser-limp-close')
        i(class="fa fa-times" aria-hidden="true")

    div(class='modal__box')
      p(class='modal__text') Cuando conducimos las condiciones atmosféricas, la temperatura, así como otros elementos influyen directamente en nuestra seguridad; por eso al conducir es necesario tener una imagen nítida, clara y precisa de los objetos situados fuera del vehículo.  En nuestras estaciones de servicio podrá solicitar que limpien el panorámico y el vidrio trasero de su vehículo.  Para ello, contamos con limpiaparabrisas y dispensarios de agua.
      p Pensando en la tranquilidad de nuestros clientes ofrecemos la medición del aire de los neumáticos y, generamos recomendaciones de uso, en función del tipo de vehículo, la ruta a recorrer, el ahorro de combustible y las condiciones generales de seguridad. Para ello contamos con dispensarios de agua y aire, así como calibradores.
