div(class='modal', id='ser-limp', data-active='false')
  div(class='modal__container')
    img(class='modal__backgroundOrange', src='images/half-orange.png')
    img(class='modal__backgroundCircle', src='images/half-red.png')
    img(class='modal__backgroundWorker' src='images/worker.png')

    header(class='modal__header')
      h2(class='modal__title') SERVICIO DE LIMPIA PARABRISAS Y CALIBRACIÓN DE LLANTAS

    div(class='modal__box')
      p(class='modal__text') Cuando conducimos las condiciones atmosféricas, la temperatura, así como otros elementos influyen directamente en nuestra seguridad; por eso al conducir es necesario tener una imagen nítida, clara y precisa de los objetos situados fuera del vehículo.  En nuestras estaciones de servicio podrá solicitar que limpien el panorámico y el vidrio trasero de su vehículo.  Para ello, contamos con limpiaparabrisas y dispensarios de agua.
      p Pensando en la tranquilidad de nuestros clientes ofrecemos la medición del aire de los neumáticos y, generamos recomendaciones de uso, en función del tipo de vehículo, la ruta a recorrer, el ahorro de combustible y las condiciones generales de seguridad. Para ello contamos con dispensarios de aire y calibradores.

    footer(class='modal__footer')
      button(class='modal__close', id='ser-limp-close') CERRAR
