div(class='modal', id='mfact-modal', data-active='false')
  div(class='modal__container modal__container--gray')
    //img(class='modal__backgroundSplash', src='images/splash-fact.png')

    header(class='modal__header')
      h2(class='modal__title') FACTURACIÓN
      button(class='modal__close', id='mclose')
        i(class="fa fa-times" aria-hidden="true")

    div(class='modal__box--full')
      form(class='modal__form')
        input(class='modal__input', placeholder='Folio del ticket de carga', type='text', name='folio')
        input(class='modal__input', placeholder='Importe exacto de la carga', type='text', name='import')

        select(class='modal__select', name='paymentMethod')
          option(default='true') Forma de pago utilizada
          option Tarjeta de debito
          option Tarjeta de credito
          option Efectivo
          option Monedero electronico
          option Tranferencia electronica de fondos
          option Deposito en cuenta

        select(class='modal__select', name='station')
          option(default='true') Estacion de servicio
          option Coatzacoalcos 407 Lemarroy
          option Las Choapas 408 Calzadas 5 (La Entrada)
          option Nanchital 411 Nanchital
          option Cosamaloapan    Bravo Grande
          option Cosamaloapan  2486  Bravo Chica
          option Oteapan 3242  Oteapan 1
          option Cuitláhuac  3676  Cuitláhuac
          option Coatzacoalcos 3863  Quevedo
          option Coatzacoalcos 3933  Calzadas 1
          option Acayucan  4093  Acayucan
          option Minatitlán  4094  Mina
          option Sayula  4982  Sayula 1
          option Cosamaloapan  5291  Calzadas 8
          option Ursulo Galvan 5402  Calzadas 7 (Ursulo Galván)
          option Coatzacoalcos 5624  Villa-Coatza
          option Minatitlán  5843  Paquital 2
          option Cosamaloapan  5852  Calzadas 9
          option Minatitlán  6139  Paquital 1
          option Las Choapas 6693  Calzadas 6 (La Sabana)
          option Boca del Río  6873  Virginia (Walmart-Ver)
          option Allende 7380  Allende (Trabajadores Mexicanos)
          option Coatzacoalcos 7967  Calzadas 2 (Malecón)
          option Coatzacoalcos 8221  Oteapan 3 (Cereso 1)
          option Coatzacoalcos 8971  Oteapan 2 (Las Palmas)
          option Acayucan  9836  Hojitas
          option Sayula  10136 Sayula 2
          option Coatzacoalcos 10527 Oteapan 4 (Cereso 2)
          option Las Choapas 10828 Calzadas 3 (Las Choapas)
          option Ixhuatlán 11192 Ixhuatlán
          option Coatzacoalcos 11466 Calzadas IV
          option Sayula  12757 Sayula Centro
          option Acayucan  12765 La Florida
          option La Venta  2472  La Venta
          option Cárdenas  4092  Cárdenas
          option Centro  4689  Cima 1 (Dos Montes)
          option Villahermosa  4979  Ciudad Industrial 1
          option Villahermosa  5213  Kronos 1
          option Villahermosa  5340  Ultra 1
          option Villahermosa  5398  Ultra 2
          option Villahermosa  5517  Promos 1
          option Villahermosa  5802  Kronos 2 (Tierra Colorada)
          option Villahermosa  6428  Promos 2 (Loma de Caballo)
          option Villahermosa  6842  Villa Sam´s Tab. (Avitec)
          option Villahermosa  6848  Casa Blanca
          option Villahermosa  6850  Deportiva (Aurrerá)
          option Villahermosa  7991  Ciudad Industrial 2
          option Centro  9790  Cima 2 (Boca Limón)
          option Centro  11337 Cima 3 (Miraflores)
          option Villahermosa  13022 Cima 4
          option Paraiso   13205 Villa Paraiso
          option Coacalco  7250  Coacalco
          option Tultitlán 7937  Tultitlán
          option Tezoyuca  9356  Tezoyuca
          option Xhala Cuatitlán Izcalli 9517  Xhala
          option San Vicente Chicoloapan 9998  San Vicente
          option Atlacomulco 11325 Atlacomulco
          option Tenancingo  11348 Tenancingo
          option San Miguel Zumpango 12432 Zumpango
          option San Vicente 12980 San Vicente 2
          option Huehuetoca  12990 Huehuetoca
          option Tizayuca  9784  Tizayuca 1
          option Tizayuca  10487 Tizayuca 2
          option Tula  11475 Tula Iturbe o Tula 2
          option Tula  11760 Tula el Llano
          option Coacalco  12111 Eje 3
          option Tula  12433 Tula Jalpa
          option Coacalco  12513 Presidentes
          option Tepotzotlan 12791 Tepotzotlan
          option Texoco  13135 Los Reyes

        input(class='modal__input', placeholder='Últimos cuadro dígitos de forma de pago', type='text', name='lastDigits')
        input(class='modal__input', placeholder='Fecha del ticket', type='text', name='date')
        input(class='modal__input', placeholder='Nombre o razón social', type='text', name='name')
        input(class='modal__input', placeholder='Domicilio fiscal', type='text', name='address')
        input(class='modal__input', placeholder='Colonia', type='text', name='address2')
        input(class='modal__input', placeholder='Ciudad', type='text', name='city')

        select(class='modal__select', name='estate')
          option(default='true') Estado
          option Aguascalientes
          option Baja California
          option Baja California Sur
          option Campeche
          option Chiapas
          option Chihuahua
          option Coahuila
          option Colima
          option Distrito Federal
          option Durango
          option Estado de México
          option Guanajuato
          option Guerrero
          option Hidalgo
          option Jalisco
          option Michoacán
          option Morelos
          option Nayarit
          option Nuevo León
          option Oaxaca
          option Puebla
          option Querétaro
          option Quintana Roo
          option San Luis Potosí
          option Sinaloa
          option Sonora
          option Tabasco
          option Tamaulipas
          option Tlaxcala
          option Veracruz
          option Yucatán
          option Zacatecas

        input(class='modal__input', placeholder='RFC', type='text', name='rfc')
        input(class='modal__input', placeholder='Código postal', type='text', name='postalCode')
        input(class='modal__input', placeholder='Correo electrónico', type='email', name='email')
        input(class='modal__input', placeholder='Teléfono', type='text', name='phone')
        textarea(class='modal__textarea', placeholder='Comentarios', name='comments')
        input(class='modal__submit', value='Enviar', type='submit')
        p También puede utilizar nuestro
        a(href='https://servifacil.ecsmexico.com:2001/facturacionweb') Formato Web de Solicitud de Factura
