div(class='modal', id='failure-modal', data-active='false')
  div(class='modal__container--mini')
    header(class='modal__header')
      h2(class='modal__title') NO SE PUDO ENVIAR EL MENSAJE
      button(class='modal__close', id='failure-close')
        i(class="fa fa-times" aria-hidden="true")
