div(class='modal', id='h-modal', data-active='false')
  div(class='modal__container')
    img(class='modal__backgroundOrange', src='images/half-orange.png')
    img(class='modal__backgroundCircle', src='images/half-red.png')
    img(class='modal__backgroundWorker', src='images/worker.png')

    header(class='modal__header')
      h2(class='modal__title') NUESTRA HISTORIA

    div(class='modal__box')
      p(class='modal__text') Durante el inicio del Siglo XX, con la introducción del ferrocarril Transístmico y el descubrimiento de la “Faja de Oro” de petróleo en el Golfo de México, inversionistas ingleses construyeron la primera refinería del Sureste Mexicano en Minatitlán, Veracruz.  Fue en aquel entonces cuando Coatzacoalcos cambió su rumbo y su progreso. Se estableció la primera bomba de gasolina de la ciudad, marca Bennet, en 1934. El Águila, compañía inglesa de petróleo, otorgó solo ciertas franquicias de gasolineras en toda la República Mexicana, siendo ésta una de las pioneras. Luego, en 1964, se convirtió en la Gasolinera 407, ubicada en Zaragoza 613, Colonia Centro, que fue la primera del Grupo Servifácil.
      p En 1994, Pemex como dueño de la empresa petrolera más importante del país, invitó a los empresarios a establecer un modelo de franquicia de gasolineras, con la intención de modernizar las estaciones y poder competir con estándares internacionales. Esta fue la oportunidad para que Servifácil se involucrara fuertemente en el negocio, apostara su creatividad y su patrimonio y, llegara a formar la organización que hoy conocemos: una empresa sólida, con experiencia, una empresa comprometida con sus clientes, con la sociedad y con el medio ambiente, logrando presencia en diferentes Estados del país.

    footer(class='modal__footer')
      button(class='modal__close', id='h-close') CERRAR
