div(class='modal', id='bolsa-modal', data-active='false')
  div(class='modal__container')
    img(class='modal__backgroundWorker', src='images/worker_decoration.png')

    header(class='modal__header')
      h2(class='modal__title') VACANTES OFERTADAS
      button(class='modal__close', id='bolsa-close')
        i(class="fa fa-times" aria-hidden="true")

    div(class='modal__box')
      p Siempre estamos en busca de nuevos talentos para sumarse a nuestro equipo. Revisa aquí cuáles son las vacantes que tenemos actualmente, para saber si hay alguna que se apega a tu perfil.
      //
        p(class='modal__text')
          strong Vacante:
          | Supervisor de calidad
        p(class='modal__text')
          strong Zona:
          |  Tabasco
        p(class='modal__text')
          strong Requisitos:
          | Ingeniero, sexo indistinto, edad entre 26 y 35 años, con experiencia en supervisión o auditoría operativa.  Licencia para conducir.. Buena redacción y ortografía para hacer reportes. Manejo de excel, power point.
      br
      p(class='modal__text')
        strong Vacante:
        |  Promotor de Servicio
      p(class='modal__text')
        strong Zona:
        | Veracruz / Tabasco / Estado de México / Tizayuca Hidalgo
      p(class='modal__text')
        strong Requisitos:
        | Escolaridad minima secundaria, sexo indistinto, edad de 20 a 45 años, experiencia laboral no necesaria.</p>
      br
      p(class='modal__text')
        strong Vacante:
        |  Jefe de estación de Servicio
      p(class='modal__text')
        strong Zona:
        | Veracruz / Tabasco / Estado de México / Tizayuca Hidalgo
      p(class='modal__text')
        strong Requisitos:
        | Licenciatura concluida (pasante o titulado), sexo indistinto, edad de 32 a 45 años, experiencia minima de 1 año en manejo de valores, supervision de personal, administracion general.
      br
      //
        p(class='modal__text')
          strong Vacante:
          | Auxiliar Administrativo
        p(class='modal__text')
          strong Zona:
          | Veracruz / Tabasco
        p(class='modal__text')
          strong Requisitos:
          | Carrera tecnica o licenciatura en contabilidad/administracion, sexo indistinto, edad de 20 a 40 años, conocimientos en paquetes contables y excel.

      h2(class='modal__title') INGRESA TU CV
      p Con nuestra Bolsa de Trabajo buscamos crear un medio de enlace entre tus habilidades y experiencia con nuestras oportunidades laborales. Por eso te invitamos a enviar tus datos y nosotros nos comunicaremos contigo en cuanto haya un puesto que cubra tus habilidades.

      form(class='modal__form', method='post', action='/cv')
        input(class='modal__input', name='name', placeholder='Nombre completo', type='text')
        input(class='modal__input', name='age',placeholder='Edad', type='text')

        select(class='modal__select', name='sex')
          option(default='true', value-'') Sexo
          option(value='hombre') Hombre
          option(value='mujer') Mujer

        input(class='modal__input', name='city' placeholder='Ciudad', type='text')
        input(class='modal__input', name='state', placeholder='Estado')
        input(class='modal__input', name='telephone', placeholder='Teléfono')
        input(class='modal__input', name='cellular', placeholder='Célular')
        input(class='modal__input', name='email' placeholder='Email')
        input(class='modal__input', name='position' placeholder='Vacante deseada')
        input(class='modal__input', name='wage', placeholder='Sueldo mensual deseado')

        select(class='modal__select', name='school')
          option(value='primaria') Primaria
          option(value='secundaria') Secundaria
          option(value='preparatoria') Preparatoria
          option(value='tecnico') Carrera técnica
          option(value='universidad') Universidad
          option(value='postgrado') Postgrado

        select(class='modal__select', name='schedule')
          option(default='true', value='') ¿Tiene disponibilidad de horario?
          option(value='si') Si
          option(value='no') No

        select(class='modal__select', name='travel')
          option(default='true', value='') ¿Tiene disponibilidad para viajar?
          option(value='si') Si
          option(value='no') No

        textarea(class='modal__textarea', name='comments', plaecholder='Comentarios')

        div(class='g-recaptcha', data-sitekey="6LemIxsUAAAAAHAX7s1q6G0ZkS0V60Db3PxS9ZIw")

        input(type='submit', class='modal__submit')
