div(class='modal', id='bolsa-modal', data-active='false')
  div(class='modal__container')
    img(class='modal__backgroundOrange', src='images/half-orange.png')
    img(class='modal__backgroundCircle', src='images/half-red.png')
    img(class='modal__backgroundWorker', src='images/worker.png')

    div(class='modal__box')
      header(class='modal__header')
        h2(class='modal__title') VACANTES OFERTADAS
        button(class='modal__close', id='bolsa-close') CERRAR

      p Siempre estamos en busca de nuevos talentos para sumarse a nuestro equipo. Revisa aquí cuáles son las vacantes que tenemos actualmente, para saber si hay alguna que se apega a tu perfil.
      p(class='modal__text')
        strong Vacante:
        | Supervisor de calidad
      p(class='modal__text')
        strong Zona:
        |  Tabasco
      p(class='modal__text')
        strong Requisitos:
        | Ingeniero, sexo indistinto, edad entre 26 y 35 años, con experiencia en supervisión o auditoría operativa.  Licencia para conducir.. Buena redacción y ortografía para hacer reportes. Manejo de excel, power point.
      br
      p(class='modal__text')
        strong Vacante:
        | Promotor de Servicio
      p(class='modal__text')
        strong Zona:
        | Veracruz / Tabasco / Estado de México / Tizayuca Hidalgo
      p(class='modal__text')
        strong Requisitos:
        | Escolaridad minima secundaria, sexo indistinto, edad de 20 a 45 años, experiencia laboral no necesaria.</p>
      br
      p(class='modal__text')
        strong Vacante:
        |  Jefe de estación
      p(class='modal__text')
        strong Zona:
        | Veracruz / Tabasco / Estado de México / Tizayuca Hidalgo
      p(class='modal__text')
        strong Requisitos:
        | Licenciatura concluida (pasante o titulado), sexo indistinto, edad de 32 a 45 años, experiencia minima de 1 año en manejo de valores, supervision de personal, administracion general.
      br
      p(class='modal__text')
        strong Vacante:
        | Auxiliar Administrativo
      p(class='modal__text')
        strong Zona:
        | Veracruz / Tabasco
      p(class='modal__text')
        strong Requisitos:
        | Carrera tecnica o licenciatura en contabilidad/administracion, sexo indistinto, edad de 20 a 40 años, conocimientos en paquetes contables y excel.

      h2(class='modal__title') INGREA TU CV
      p Con nuestra Bolsa de Trabajo buscamos crear un medio de enlace entre tus habilidades y experiencia con nuestras oportunidades laborales. Por eso te invitamos a enviarnos tus datos y nosotros nos comunicaremos contigo en cuanto haya un puesto que cubra tus habilidades.

      form(class='modal__form')
        input(class='modal__input', placeholder='Nombre completo', type='text')
        input(class='modal__input', placeholder='Edad', type='text')

        div(class='modal__block')
          Sexo
          input(type='radio', value='h')
          | Hombre
          input(type='radio', value='m')
          |  Mujer

        input(class='modal__input', placeholder='Ciudad', type='text')
        input(class='modal__input', placeholder='Estado')
        input(class='modal__input', placeholder='Teléfono')
        input(class='modal__input', placeholder='Célular')
        input(class='modal__input', placeholder='Email')
        input(class='modal__input', placeholder='Vacante deseada')
        input(class='modal__input', placeholder='Sueldo mensual deseado')

        select(class='modal__select')
          option Primaria
          option Secundaria
          option Preparatoria
          option Carrera técnica
          option Universidad
          option Postgrado

        div(class='modal__block')
          | ¿Tiene disponibilidad de horario?
          input(type='radio')
          |  Si
          input(type='radio')
          | No

        div(class='modal__block')
          | ¿Tiene disponibilidad para viajar?
          input(type='radio')
          | Si
          input(type='radio')
          | No

        textarea(class='modal__textarea', plaecholder='Comentarios')
        input(type='submit', class='modal__submit')

