div(class='modal', id='mgas-modal', data-active='false')
  header(class='modal__header')
    h2(class='modal__title') GASOLINERAS

  div(class='modal__container')
    div(id='map')

  footer(class='modal__footer')
    button(class='modal__close', id='close') CERRAR
