div(class='modal', id='mgas-modal', data-active='false')
  div(class='modal__container')
    header(class='modal__header')
      h2(class='modal__title') GASOLINERAS
      button(class='modal__close', id='close') CERRAR
    div(id='map')
