div(class='modal', id='mgas-modal', data-active='false')
  header(class='modal__header')
  div(class='modal__container')
    h2(class='modal__title') GASOLINERAS
    button(class='modal__close', id='close')
      i(class="fa fa-times" aria-hidden="true")

    div(id='map')
