div(class='modal', id='sprov-modal', data-active='false')
  div(class='modal__container')
    img(class='modal__backgroundWorker', src='images/worker_decoration.png')

    header(class='modal__header')
      h2(class='modal__title') PROVEEDORES
      button(class='modal__close', id='sprov-close')
        i(class="fa fa-times" aria-hidden="true")

    div(class='modal__box')
      p(class='modal__text') En el Grupo Servifácil nuestra prioridad es dar más valor a nuestros clientes, por tanto, buscamos respaldarnos con proveedores confiables, que cumplan con los requerimientos de calidad de sus productos y servicios.
      p Para asegurar una relación de mutua confianza, requerimos los siguientes compromisos de cada uno de nuestros socios comerciales:

      ul
        li Establecer la relación comercial únicamente con el departamento de Compras.
        li Atender las órdenes de compra emitidas por el departamento.
        li Cotizar de forma rápida y surtir con calidad, respetando los tiempos y garantías en la entrega.
        li Entregar la factura con los requisitos fiscales correspondientes.
        li Proporcionar la información necesaria para transferencias bancarias o emisión de cheques.

      p Actualmente tenemos un catálogo con más de 1300 proveedores registrados, de los cuales la mayoría son locales y regionales, quienes cuentan con una sólida trayectoria en los giros de sus negocios. A través de las relaciones comerciales con empresas locales buscamos impulsar la economía en las ciudades donde tenemos presencia.

      h3 ¿LE INTERESA SER NUESTRO PROVEEDOR?
      p Para iniciar el proceso de incorporación al catálogo de proveedores deberá proporcionar:

      ul
        li Formato DCO-F-02 REGISTRO DE PROVEEDORES debidamente llenado y firmado. #{''}
          a(href='http://www.servifacil.com.mx/cms/wp-content/uploads/2012/11/DCO-F-02_Registro-de-Proveedores_R_.xls') Descárguelo aquí
        li Identificación oficial del representante legal
        li Comprobante de domicilio reciente de la razón social
        li Alta en Secretaría de Administración Tributaria
        li Cédula fiscal
        li Estado de cuenta (reciente)

      p La documentación puede ser en copias fotostáticas o digitalizadas. Una vez recibidos todos los documentos se procederá  a darlo de alta.

      h3 CONTACTOS

      h4 ZONA VERACRUZ Y TABASCO (MATRÍZ)
      p(class='modal__text') Av. Universidad Veracruzana Km. 6.7
      p(class='modal__text') Fracc. Rancho Alegre II
      p(class='modal__text') Coatzacoalcos, Ver.
      p(class='modal__text') Tels. + 52 (921) 2186738 al 43

      h5 Jefe de Compras
      p(class='modal__text') compras@servifacil.com.mx
      p(class='modal__text') Ext. 159
      br
      p(class='modal__text') Agroindustria
      p(class='modal__text') comprasindustria@induagro.com.mx
      p(class='modal__text') Ext. 170
      br
      p(class='modal__text') comprasagro@induagro.com.mx
      p(class='modal__text') Ext. 169
      br
      p(class='modal__text') Área Papelería y productos de limpieza
      p(class='modal__text') compras_papeleria@servifacil.com.mx
      p(class='modal__text') Ext. 165

      h5 Área operativa
      p(class='modal__text') compras_operativo@servifacil.com.mx
      p(class='modal__text') Ext. 168

      h4 ZONA MÉXICO
      p(class='modal__text') Eugenio Sue #334
      p(class='modal__text') Col. Polanco
      p(class='modal__text') Delegación Miguel Hidalgo
      p(class='modal__text') México, D.F.
      p(class='modal__text') Tels. +52 (55) 52554151, 5255429
      br
      p(class='modal__text') agodineze@servifacil.com.mx
      p(class='modal__text') Ext. 117
      br
      p(class='modal__text') auxcomp02df@servifacil.com.mx
      p(class='modal__text') Ext. 127
      br
      p(class='modal__text') auxcomp1df@servifacil.com.mx
      p(class='modal__text') Ext. 128
