div(class='modal', id='rs-modal', data-active='false')
  div(class='modal__container')
    img(class='modal__backgroundOrange', src='images/half-orange.png')
    img(class='modal__backgroundCircle', src='images/half-red.png')
    img(class='modal__backgroundWorker', src='images/worker.png')

    div(class='modal__box')
      header(class='modal__header')
        h2(class='modal__title') RESPONSABILIDAD SOCIAL
        button(class='modal__close', id='rs-close') CERRAR

      p(class='modal__text') Servifácil promueve la conciencia ecológica en sus colaboradores, mediante programas que ha implantado con capacitaciones, auditorías e inversiones periódicas.  Esto ha permitido obtener excelentes resultados en las gasolineras.

      p Desde el año 2007 se empezó a trabajar con el Programa “5S”, que promulga el orden y la limpieza de instalaciones, muebles y equipos.  Su nombre deriva de cinco palabras japonesas que empiezan por “S” y que se traducen al español como: Seleccionar, Ordenar, Limpiar, Estandarizar y Seguir la disciplina.

      p Con este proyecto se logró estandarizar la señalización en estaciones, mejorar la imagen mediante el trabajo permanente en el aseo y en el mantenimiento de la infraestructura e inculcar la búsqueda de la mejora continua y de las “mejores prácticas”. Así, cada dos meses, las gasolineras son auditadas por un supervisor experto en el tema que emite una calificación y presenta a sus jefes, las oportunidades que tienen, para obtener como mínimo un puntaje de 8,0.

      p Por otra parte, y como complemento a las “5S”, en el año 2012 se empezaron a difundir las “3R”: reusar, reducir y reciclar; es decir, se ha comenzado una era donde la preservación de los recursos es lo más importante.  De ahí se han derivado campañas de reutilización de papel, ligas, clips y otros materiales; participación en programas municipales como el Reciclón, realizado en el mes de junio en la ciudad de Coatzacoalcos; reducción de material peligros y adecuada disposición del mismo, entre otras actividades.
