div(class='modal', id='ser-fact', data-active='false')
  div(class='modal__container')
    img(class='modal__backgroundOrange', src='images/half-orange.png')
    img(class='modal__backgroundCircle', src='images/half-red.png')
    img(class='modal__backgroundWorker', src='images/worker.png')

    header(class='modal__header')
      h2(class='modal__title') SERVICIO DE FACTURACÓN
      button(class='modal__close', id='ser-fact-close')
        i(class="fa fa-times" aria-hidden="true")

    div(class='modal__box')
      p(class='modal__text') Estamos convencidos que sumar valor al servicio es simplificar los trámites y procesos administrativos para nuestros clientes, por eso, en Servifácil el  proceso de facturación está diseñado para que empresas o particulares tengan diferentes opciones seguras y cómodas.

      h3 FACTURACIÓN EN VENTANILLA
      p En cada una de nuestras estaciones de servicio ofrecemos Facturación Express vía ventanilla, con la cual usted puede realizar el trámite de forma inmediata en los horarios de funcionamiento.  En la mayoría tenemos el siguiente horario, aunque vale la pena mencionar que estamos haciendo un esfuerzo para que haya atención las 24 horas:

      ul
        li De Lunes a Jueves, 08:00 – 20:00 horas
        li Viernes 09:00 – 20:00 horas
        li Sábados 09:00 – 12:00 horas

      h3 FACTURACION ELECTRONICA
      p Si lo desea puede solicitar su factura en cualquier horario mediante nuestro Sistema de Facturación Electrónica, rápido, fácil y seguro.  Usted nos entrega sus datos y nosotros le enviamos la factura o Comprobante Fiscal Digital (CFD) directamente a su correo electrónico. Para dejar sus datos tiene dos opciones:

      ul
        li Llenando un sencillo formulario entregado por nuestros despachadores (DES-F-22).
        li Enviándolos al correo electrónico factura@servifacil.com.mx o llenando sus datos en el formulario vía web.

      p: strong Comprobante Fiscal Digital vía Internet

      p En Servifácil nos ocupamos en cumplir con los requisitos exigidos por el Servicio de Administración Tributaria (SAT), por eso desde el año 2010, estamos facturando de forma electrónica; es decir que, generamos el comprobante fiscal sobre el consumo de combustibles, que garantiza que la información contenida en dicho formato queda protegida y tiene la misma validez que las facturas impresas en papel. Además, nos encanta esta opción porque contribuye a la conservación del medioambiente al disminuir la impresión.

      p A su correo le enviamos un archivo en “pdf” para que pueda visualizar la factura y otro archivo en extensión “xml”, que es el válido ante el SAT y que contiene todos los requisitos: sello digital que corrobora su origen y le da validez, cadena original que funciona como un resumen del contenido de la factura y folio que indica el número de la transacción.

      p: strong Formato DES-F-22

      p En cada una de nuestras estaciones de servicio si lo desea, puede iniciar el proceso de facturación independientemente del horario, con el formato DES-F-22 el cual será proporcionado por nuestros despachadores, usted ingresará sus datos y los entregará junto a su ticket de compra. Con esto su consumo será programado para facturación y usted recibirá directamente en su cuenta de correo el comprobante fiscal correspondiente.

      p: strong Facturación vía Web

      p Decidimos apostar por generar un modelo que reduzca tiempos y agilice el proceso de facturación, sin importar el lugar donde se encuentre, si va en carretera o no tiene tiempo de hacerlo de forma inmediata, usted puede solicitar el envío de su factura.

      p Sencillamente debe enviar sus datos al correo electrónico
        strong factura@servifacil.com.mx
        | o bien llenar nuestro

      a(href='http://www.servifacil.com.mx/cms/?p=740') Formato Web de Solicitud de Factura
      p para realizar este trámite deberá proporcionar

      ul
        li Folio del ticket de carga
        li Importe exacto de la carga
        li Forma de pago Utilizada
        li Estación de servicio donde realizó la carga
        li Razón social
        li Domicilio fiscal (calle, número, colonia, municipio, estado y código postal)
        li Teléfonos de contacto
        li Registro Federal de Contribuyentes (RFC)
        li Correo electrónico

      p: strong Recomendaciones de Facturación

      ul
        li Es importante solicitar el ticket original al despachador que lo atendió o el ticket impreso en el caso de pago con tarjetas bancarias.
        li La factura se envía a la dirección de correo electrónico que usted proporciona, cerciórese de que sea correcta.
        li Las facturas se entregan con a fecha del día en que se emite. Esta es una disposición del Servicio de Administración Tributaria.
        li Los tickets del mes anterior se facturan hasta el día 5 del mes vigente, con la fecha del día en que se emite la factura.
