div(class='modal', id='spits-modal', data-active='false')
  div(class='modal__container')
    img(class='modal__backgroundOrange', src='images/half-orange.png')
    img(class='modal__backgroundCircle', src='images/half-red.png')
    img(class='modal__backgroundWorker', src='images/worker.png')

    header(class='modal__header')
      h2(class='modal__title') SERVIPITS
      button(class='modal__close', id='spits-close')
        i(class="fa fa-times" aria-hidden="true")

    div(class='modal__box')
      p(class='modal__text') Dotamos nuestras estaciones de servicio con un sistema integral de lubricación express, que ofrecer el cambio de aditivos y lubricantes, de manera eficaz, confiable, segura y amigable con el medio ambiente; además, la mano de obra es completamente gratuita.  Los Servipits tienen una programación mensual, y se anuncian con anticipación, para que usted sepa en qué gasolinera estarán presentes y durante cuántos días.  La idea es que cuente también con un asesor que cuide su vehículo y le pueda recomendar adecuadamente el producto que necesita.
