div(class='modal', id='success-modal', data-active='false')
  div(class='modal__container--mini')
    header(class='modal__header')
      h2(class='modal__title') Mensaje enviado con exito c:
      button(class='modal__close', id='success-close')
        i(class="fa fa-times" aria-hidden="true")
