div(class='modal', id='mvv-modal', data-active='false')
  div(class='modal__container')
    //img(class='modal__backgroundWorker', src='images/worker_decoration.png')

    header(class='modal__header')
      h2(class='modal__title') MISIÓN, VISIÓN Y VALORES
      button(class='modal__close', id='mvv-close')
        i(class="fa fa-times" aria-hidden="true")

    div(class='modal__box')
      p(class='modal__text') Somos una empresa profundamente comprometida con brindar un servicio de calidad a todos nuestros clientes; esto lo logramos basándonos en una sólida filosofía afianzada en nuestros valores corporativos.

      h3 Misión ¿Qué hacemos?
      p Vendemos gasolinas, diésel, aditivos y lubricantes a nuestros clientes, garantizándoles calidad, control, seguridad y abastecimiento permanente.

      h3 Visión ¿Qué queremos?
      p Seremos el Grupo Gasolinero preferido en nuestras zonas de influencia, por brindar a nuestros clientes:

      ul
        li Diversas opciones de pago para la carga de combustibles.
        li Calidad, control y seguridad en cada una de nuestras instalaciones y procesos.
        li Limpieza y Comodidad para todas nuestras Estaciones de Servicio.
        li Mejores Ubicaciones.
        li Compromiso Social y Ambiental.

      h3 Valores ¿Cómo nos comportamos?
      p Cada uno de nosotros, colaboradores, directivos y accionistas, construimos los valores organizacionales que queríamos.  Por eso, no son solo palabras, son frases que marcan y guían nuestro quehacer diario y nos comprometen con la empresa que queremos

      ul
        li Vivimos con actitud de servicio.
        li Asumimos una responsabilidad clara e individual.
        li Nos comunicamos con franqueza y decisión.
        li Trabajamos en equipo para crear sinergia.
        li Brindamos oportunidad a nuestra gente de crecer y participar.
        li Construimos nuestra reputación con lo que hacemos y decimos.
