.payments
  &__container
    margin 0 auto
    padding 2rem
    width 1200px

  &__section
    position relative

  &__splash
    display block
    margin 0 auto
    padding 0
    width 60%

  &__text-debt
    color white
    font-size 1.1rem
    left 310px
    position absolute
    text-align center
    top 110px
    width 300px

  &__image-debt
    height 70px
    left 820px
    position relative
    top -395px

  &__see-debt
    color white
    font-weight bold
    left 705px
    position relative
    text-decoration none
    top -220px

    &:hover
      text-decoration underline
