.payments
  &__mobileTitle
    display none

  &__container
    margin 0 auto
    padding 2rem
    width 1200px

  &__section
    position relative

    &:last-child
      padding-top 8rem

  &__splash
    display block
    margin 4rem auto 0 auto
    padding 0
    width 1000px

  &__text-debt
    color white
    font-size 1.3rem
    left 260px
    position absolute
    text-align center
    top 180px
    width 300px

  &__picture-debt
    display inline-block
    height 70px
    left 930px
    position relative
    top -550px

    &Image
      height 60px

    &Text
      color white
      font-weight bold
      text-align center

  &__see-debt
    bottom -210px
    color white
    display inline-block
    font-weight bold
    left -10px
    position relative
    text-decoration none
    transition all 0.25s ease

    &:hover
      text-decoration underline

  &__credit
    display block
    margin 0 auto
    position relative
    transform rotate(180deg)
    width 1000px

    &Text
      color white
      font-size 1.3rem
      left 620px
      position absolute
      text-align center
      top 200px
      width 345px

    &Picture
      display inline-block
      left 170px
      position absolute
      top 455px

      &Image
        height 70px

      &Text
        color white
        font-weight bold
        text-align center

    &See-more
      color white
      font-weight bold
      left 210px
      position absolute
      text-decoration none
      top 210px

      &:hover
        text-decoration underline

  &__vales
    display block
    margin 0 auto
    position relative
    width 1000px

    &Text
      color white
      font-size 1.3rem
      left 250px
      position absolute
      text-align center
      top 305px
      width 320px

    &Picture
      display inline-block
      left 930px
      position absolute
      text-align center
      top 190px

      &Image
        height 70px

      &Text
        color white
        font-size 1.1rem
        font-weight bold

    &See-more
      bottom 205px
      color white
      font-weight bold
      position absolute
      right 205px
      text-decoration none

      &:hover
        text-decoration underline

  &__modalDebit
  &__modalCredit
  &__modalVales
    background-color rgba(220, 220, 220, 0.8)

    &[data-active='true']
      height auto
      left 0
      min-height 100%
      position fixed
      right 0
      top 0
      z-index 10

    &[data-active='false']
      display none

    &Container
      background-color #2b285f
      border-radius 0.35rem
      box-sizing border-box
      color white
      height 50vh
      margin 10vh auto 0 auto
      padding 2rem
      position relative
      overflow scroll
      width 800px

    &Box
      width 550px

  &__modalCredit
    &[data-active='false']
      display none

  @media all and (max-width 800px)
    &__container
      box-sizing border-box
      margin 0
      padding 2rem
      width 100%

    &__credit
    &__splash
    &__vales
      display none

    &__valesText
    &__debitText
    &__creditText
    &__text-debt
      box-sizing border-box
      color black
      font-size 1rem
      margin 0
      padding 0
      text-align left
      position static
      width auto

    &__picture-debt
      display none

    &__see-debt
      color black
      display block
      position static

    &__mobileTitle
      display block
      text-align center

    #servivales
      padding 0


.modal
  &__title
    margin-top 0

  &__link
    color rgb(250, 250, 250)
    font-weight bold

  &__backgroundCircle
    height 150px
    position absolute
    right 0
    top 100px

  &__backgroundWorker
    height 120px
    position absolute
    right 50px
    top 117px
