div(class='payments__modalCredit', data-active='false')
  div(class='payments__modalCreditContainer')
    img(class='modal__backgroundWorker', src='images/worker_decoration.png')

    button(class='modal__close', id='mclose', onclick="creditModal.dataset.active = 'false'")
      li(class="fa fa-times" aria-hidden="true")

    div(class='payments__modalCreditBox')
      h2(class='modal__title') SERVIFÁCIL CRÉDITO
      p Hemos creado además una herramienta útil y flexible, Servifácil Crédito, para apoyar a los empresarios mediante una línea de crédito autorizada, donde puede utilizar el Sistema de Control de Flotillas, ya sea con tarjetas de banda magnética o con códigos de barras.
      p Con Servifácil Crédito puede controlar el consumo de combustibles, asignar montos de carga individuales y restricciones según sus necesidades, además reporta los siguientes beneficios:

      ul
        li Facturación Electrónica de acuerdo con el periodo elegido por el cliente.
        li Estados de Cuenta Online para llevar un mejor control administrativo.
        li Reportes de Rendimiento por unidades de su parque vehicular.
        li Reducción de gastos mediante restricciones de carga, horario y tipo de combustible.
        li Información Online sobre las cargas realizadas por los operadores de sus unidades.
        li Asignación de NIP (Número de Identificación Personal) para sus tarjetas o códigos.
        li Suministro de combustible 24 horas, 365 días del año.

      p Si está buscando una alternativa de control para la carga de su combustible y un apoyo financiero, puede enviarnos un correo electrónico a través de nuestro módulo de #[a(href="http://servifacil.com.mx:8082/index.html#contact", target="_top") Contacto], a la brevedad, un ejecutivo se pondrá en contacto y le brindará información detallada.
      p El consumo mínimo para solicitar crédito es de $50,000.00 MXN y el mismo se otorgará después de estudiar la documentación solicitada y podrá ser utilizado después de la firma del contrato correspondiente.
      p El pago de las facturas de crédito podrá realizarse mediante cheque, efectivo o transferencia bancaria.
      h2 Contáctanos
      p
        em Zona Valle de México:&nbsp;
        | jefventasdf@servifacil.com.mx / 55 40449350
      p
        em Zona Sureste:&nbsp;
        | gestiondeservicios@servifacil.com.mx / 921 14 86219
