div(class='payments__modalVales', data-active='false')
  div(class='payments__modalValesContainer')
    img(class='modal__backgroundWorker', src='images/worker_decoration.png')

    button(class='modal__close', id='mclose', onclick="valesModal.dataset.active = 'false'")
      li(class="fa fa-times" aria-hidden="true")

    div(class='payments__modalValesBox')
      h2(class='modal__title') SERVIVALES
      p Cargue, administre y controle su combustible mediante una solución práctica, flexible y cómoda. Los Servivales pueden ser utilizados para el consumo de gasolinas, diésel y lubricantes, mediante un sofisticado sistema de vales nominales por cantidades específicas que usted puede elegir de acuerdo con sus necesidades, hábitos de consumo o presupuesto.
      p Nuestros vales de combustible son canjeables en nuestra red de estaciones de servicio y ofrecen los siguientes beneficios:

      ul
        li Sin comisión por uso, permite cargar el 100% del valor nominal del vale
        li Válidos en la red de estaciones de servicio afiliadas
        li Expedidos sin fecha de caducidad, conservan su valor
        li Facturación electrónica inmediata
        li Aumenta la seguridad al reducir el manejo de efectivo
        li Carga de combustible las 24 horas, todos los días

      p El proceso para la adquisición y uso de Servivales es muy sencillo:
      p
        strong Con la finalidad de cumplir con lo establecido en la Ley Federal para la Prevención e Identificación de Operaciones con Recursos de Procedencia Ilícita, es necesario que usted llene el archivo en pdf adjunto (según corresponda: persona moral o física) y lo entregue, junto con la documentación allí requerida, en las oficinas administrativas de Servifácil o en la estación de servicio donde normalmente adquiere sus vales.  De lo contrario, no se les podrán vender.

      a(href='/SF-RE-VN-16_Personas Morales Servivales_Rev01_Mar17.pdf', download='')
        strong Descargar PDF  persona moral

      br
      a(href='/SF-RE-VN-17_Personas Físicas Servivales_Rev01_Mar17.pdf', download='')
        strong Descargar pdf persona física

      //
        br
        a(href='http://www.servifacil.com.mx/cms/wp-content/uploads/2013/12/Anexos_3_y_4.pdf') Ver anexos 3 y 4 del acuerdo 02/2013 Ley Federal

      ul
        li Entre en contacto con nuestra Área de Ventas ya sea mediante el
          a(href='/index.html#contact')  Formulario de Contacto
          |  o vía correo electrónico
          strong servivales@servifacil.com.mx.
          | Uno de nuestros asesores le brindará detalles y mayores informes relacionado con sus necesidades.
        li Consulte su consumo promedio de combustible y determine el monto que desea utilizar mediante los Servivales. Usted podrá determinar la denominación de los mismos dependiendo de su tipo de unidad, consumo y utilidad. Puede fraccionar el monto en vales desde $5.00 hasta $900.00 pesos.
        li Para su seguridad el proceso se realiza vía depósito bancario en ventanilla o transferencia interbancaria. Nuestros asesores le orientarán cómo realizar el pago a un número de cuenta oficial de
          strong Servifácil
        li Una vez realizado el depósito y verificados sus datos y necesidades, entregamos sus vales de gasolina de una manera práctica y segura, puede optar por recogerlos directamente en nuestras instalaciones o en la zona en donde usted determine (consultar disponibilidad con el asesor).
        li Para su mayor seguridad el proceso de facturación se realiza de forma electrónica, verificamos los datos fiscales que nos ha proporcionado y realizamos el envío del Comprobante Fiscal Digital a la cuenta de correo que determine. Si lo desea también puede entregarse la factura impresa.
