@font-face
  font-family 'Flama Basic'
  src url(../fonts/Flama-Basic.otf)

@require './normalize'
@require './font-awesome'
@require './slick'
@require './slick-theme'

$background-black = rgb(40, 40, 40)
$background-menu-black = rgb(60, 60, 60)
$hover-black = rgb(80, 80, 80)

body
  display block
  font-family 'Flama Basic'
  font-size 16px
  margin 0
  padding 0

/*!
 * Mobile styles (duh)
 */

@require './components/mobile/nav'

/*!
 * Desktop styles (duh)
 */

@require './components/hero'
@require './components/nav'
@require './components/mosaic'
@require './components/services'
@require './components/products'
@require './components/footer'
@require './components/us'
@require './components/modals'
