nav(class='nav-mobile')
  div(class='nav-mobile__bar', data-transparent='false')
    img(class='nav-mobile__logo', src='images/logo-white.png')

    div(class='nav-mobile__hamburguer', data-active='false')
      span(class='nav-mobile__hamburguerBar')
      span(class='nav-mobile__hamburguerBar')
      span(class='nav-mobile__hamburguerBar')
      span(class='nav-mobile__hamburguerBar')

    ul(class='nav-mobile__tabs', data-active='false')
      li(class='nav-mobile__tabsItem')
        a(class='nav-mobile__tabsLink', href='#know') CONÓCENOS
      li(class='nav-mobile__tabsItem')
        a(class='nav-mobile__tabsLink', href='#us') NOSOTROS
      li(class='nav-mobile__tabsItem')
        a(class='nav-mobile__tabsLink', href='#services') SERVICIOS
      li(class='nav-mobile__tabsItem')
        a(class='nav-mobile__tabsLink', href='#products') PRODUCTOS
      li(class='nav-mobile__tabsItem')
        a(class='nav-mobile__tabsLink', href='#contact') CONTACTO

