nav(class='nav-mobile')
  div(class='nav-mobile__bar', data-transparent='false')
    img(class='nav-mobile__logo', src='images/logo-white.png')

    div(class='nav-mobile__hamburguer', data-active='false')
      span(class='nav-mobile__hamburguerBar')
      span(class='nav-mobile__hamburguerBar')
      span(class='nav-mobile__hamburguerBar')
      span(class='nav-mobile__hamburguerBar')

  ul(class='nav-mobile__tabs', data-active='false')
    li(class='nav-mobile__tabsItem')
      a(class='nav-mobile__tabsLink', onclick="$('#navbar__nosotros').click()") NOSOTROS
    li(class='nav-mobile__tabsItem')
      a(class='nav-mobile__tabsLink', onclick="$('#navbar__ubicanos').click()") UBICACIÓN
    li(class='nav-mobile__tabsItem')
      a(class='nav-mobile__tabsLink', onclick="$('#navbar__servicios').click()") SERVICIOS
    li(class='nav-mobile__tabsItem')
      a(class='nav-mobile__tabsLink', href='metodos.html') PRODUCTOS
    li(class='nav-mobile__tabsItem')
      a(class='nav-mobile__tabsLink', href='https://servifacil.ecsmexico.com:2001/facturacionweb/') FACTURACIÓN
    li(class='nav-mobile__tabsItem')
      a(class='nav-mobile__tabsLink', href='http://187.141.115.82/') FLOTILLAS
    li(class='nav-mobile__tabsItem')
      a(class='nav-mobile__tabsLink', target="_blank", href='/tabla_de_precios.pdf') PRECIOS
    li(class='nav-mobile__tabsItem')
      a(class='nav-mobile__tabsLink', onclick="$('#navbar__contacto').click()") CONTACTO
