footer(class='footer anchor', id='contact')
  div(class='footer__container')
    div(class='footer__header')
      h3(class='footer__title') CONTACTO

    div(class='footer__section')
      p(class='footer__text')
        strong
          | Centro de atención al cliente: 01 800 624 5030
          br
          | Lunes a viernes de 6:00 a 24:00 horas,
          br
          | Sábados de 6:00 a 21:00 horas,
          br
          | Domingos de 7:00 a 14:00 horas.
      br
      p(class='footer__text')
        strong Servicio a clientes:
        br
        | Zona Valle de México
        br
        | Móvil: 55 4044 9350
        br
        | Zona Sureste
        br
        | Móvil: 921 240 9834
        br
        br
        strong Ventas Crédito y Débito
        br
        | Zona Valle de México
        br
        | Móvil: 55 4599 1889
        br
        | Zona Sureste
        br
        | Móvil: 921 103 8107
        br
        br
        strong Ventas Servivales
        br
        | Móvil: 921 109 8939

      //
        p(class='footer__text')
          strong Escribenos a: comunicaciones@servifacil.com.mx

      a(class='footer__link', id='bolsa', href='#') BOLSA DE TRABAJO

    div(class='footer__section')
      form(class='footer__form', method='post', action='/contact')
        input(class='footer__input', type='text', name='contactName', placeholder='Nombre', required='true')
        input(class='footer__input', type='email', name='contactEmail', placeholder='Email', required='true')
        input(class='footer__input', type='text', name='contactSubject', placeholder='Titulo', required='true')
        textarea(class='footer__textarea', name='contactMessage', placeholder='Mensaje', required='true')
        input(class='footer__submit', type='submit', value='Enviar')

    div(class='footer__box')
      a(class='footer__privacy', href='servifacil_aviso_de_privacidad.pdf', target='_blank') Ver aviso de privacidad

    //
      div(class='footer__social')
        li(class='footer__social-icon fa fa-facebook-square', aria-hidden='true')
        li(class='footer__social-icon fa fa-twitter-square', aria-hidden='true')
        li(class='footer__social-icon fa fa-instagram', aria-hidden='true')
