footer(class='footer', id='contact')
  div(class='footer__container')
    div(class='footer__header')
      h3(class='footer__title') CONTACTO

    div(class='footer__section')
      p(class='footer__text')
        strong
          | Centro de atención al cliente: 01 800 624 5030
          br
          | Lunes a Viernes de 6:00 a 24:00 horas,
          br
          | Sábados DE 6:00 a 12:00 horas,
          br
          | Domingos de 7:00 a 14:00 horas.
      br
      p(class='footer__text')
        strong Celular: 921 240 9834

      p(class='footer__text')
        strong Escribenos a: comunicaciones@servifacil.com.mx

      a(class='footer__link', id='bolsa', href='#') BOLSA DE TRABAJO

    div(class='footer__section')
      form(class='footer__form')
        input(class='footer__input', type='text', name='contactName', placeholder='Nombre', required='true')
        input(class='footer__input', type='email', name='contactEmail', placeholder='Email', required='true')
        input(class='footer__input', type='text', name='contactSubject', placeholder='Titulo', required='true')
        textarea(class='footer__textarea', name='contactMessage', placeholder='Mensaje', required='true')
        input(class='footer__submit', type='submit')

    div(class='footer__box')
      a(class='footer__privacy', href='http://www.servifacil.com.mx/cms/wp-content/uploads/2013/04/Aviso_Privacidad.jpg') Ver aviso de privacidad
