header(class='hero anchor')
  section(class='hero__carousel')
    img(onclick="document.location.href='/metodos.html?paramDebit=true'", class='hero__image', src='/images/hero/6.jpg')
    img(onclick="window.open('/tabla_de_precios.pdf')", class='hero__image', src='/images/hero/3.jpg')
    img(onclick="$('#navbar__contacto').click()",class='hero__image', src='/images/hero/4.jpg')
    //img(class='hero__image', src='/images/hero/7.jpg')
    img(id='link__cre', onclick="window.open('http://187.141.115.82/')", class='hero__image', src='/images/hero/1.jpg')
    img(onclick="document.location.href='/metodos.html?paramCredit=true'", class='hero__image', src='/images/hero/8.jpg')
    img(onclick="document.location.href='/metodos.html?paramVales=true'", class='hero__image', src='/images/hero/9.jpg')
    img(onclick="$('#navbar__nosotros').click()", class='hero__image', src='/images/hero/2.jpg')
    //
      img(class='hero__image', src='images/hero/CARRUSEL-06.png')
      img(class='hero__image', src='images/hero/CARRUSEL-07.png')
      img(class='hero__image', src='images/hero/CARRUSEL-09.png')
