header(class='hero')
  section(class='hero__carousel')
    img(id='link__cre', onclick="window.open('http://www.gob.mx/cre/articulos/precios-maximos-vigentes-de-los-combustibles?idiom=es')", class='hero__image', src='/images/hero/1.jpg')
    img(class='hero__image', src='/images/hero/2.jpg')
    img(class='hero__image', src='/images/hero/3.jpg')
    img(class='hero__image', src='/images/hero/4.jpg')
    img(class='hero__image', src='/images/hero/5.jpg')
    img(class='hero__image', src='/images/hero/6.jpg')
    img(class='hero__image', src='/images/hero/7.jpg')
    img(class='hero__image', src='/images/hero/8.jpg')
    img(class='hero__image', src='/images/hero/9.jpg')
    //
      img(class='hero__image', src='images/hero/CARRUSEL-06.png')
      img(class='hero__image', src='images/hero/CARRUSEL-07.png')
      img(class='hero__image', src='images/hero/CARRUSEL-09.png')
