header(class='hero anchor')
  section(class='hero__carousel')
    div(class='hero__item')
      div(class='lavado-banner')
        div(class='lavado-auto')
          img(src='images/lavadobanner/auto.png')
        div(class='textlavado')
          img(src='images/lavadobanner/text_lavado_2.png')
        div(class='lavamostuauto')
          img(src='images/lavadobanner/lavamostuauto.png')
        div(class='consentimos')
          img(src='images/lavadobanner/text_consentimos.png')
        div(class='textpromocion')
          img(src='images/lavadobanner/text_promocionvalida_2.png')
        img(class='lavado-bubbles-right', src='images/lavadobanner/bubbles_right.png')
        img(class='lavado-bubbles-left', src='images/lavadobanner/bubbles_left.png')
    div(class='hero__item')
      div(class='animated1banner')
        img(class='deservifacil', src='images/animated1banner/byservifacil.png')
        img(class='losuperlitros', src='images/animated1banner/text_super.png')
        img(class='venyhaz', src='images/animated1banner/venyhaz.png')
        img(class='manguera', src='images/animated1banner/manguera.png')
        img(class='certificados', src='images/animated1banner/certificado.png')
        img(class='maintext', src='images/animated1banner/text_completos.png')
        img(class='super', src='images/animated1banner/super.png')
        img(class='tubo', src='images/animated1banner/tubo.png')
    div(class='hero__item')
      img(onclick="document.location.href='/metodos.html?paramDebit=true'", class='hero__image', src='/images/hero/debito.jpg')
    div(class='hero__item')
      img(onclick="window.open('/tabla_de_precios.pdf')", class='hero__image', src='/images/hero/precios.jpg')
    div(class='hero__item')
      img(onclick="$('#navbar__contacto').click()",class='hero__image', src='/images/hero/ticketcar.jpg')
    div(class='hero__item')
      img(id='link__cre', onclick="window.open('http://187.141.115.82/')", class='hero__image', src='/images/hero/flotillas.jpg')
    div(class='hero__item')
      img(onclick="document.location.href='/metodos.html?paramCredit=true'", class='hero__image', src='/images/hero/credito.jpg')
    div(class='hero__item')
      img(onclick="document.location.href='/metodos.html?paramVales=true'", class='hero__image', src='/images/hero/vales.jpg')
    div(class='hero__item')
      img(onclick="$('#navbar__nosotros').click()", class='hero__image', src='/images/hero/masporti.jpg')
