header(class='hero')
  section(class='hero__carousel')
    img(class='hero__image', src='images/hero/banner01.jpg')
    img(class='hero__image', src='images/hero/banner02.jpg')
    img(class='hero__image', src='images/hero/banner03.jpg')
    //
      img(class='hero__image', src='images/hero/CARRUSEL-06.png')
      img(class='hero__image', src='images/hero/CARRUSEL-07.png')
      img(class='hero__image', src='images/hero/CARRUSEL-09.png')
