header(class='hero anchor')
  section(class='hero__carousel')
    img(class='hero__image', src='/images/hero/6.jpg')
    img(class='hero__image', src='/images/hero/2.jpg')
    img(onclick="window.open('/tabla_de_precios.pdf')", class='hero__image', src='/images/hero/3.jpg')
    img(class='hero__image', src='/images/hero/4.jpg')
    img(onclick="window.open('https://drive.google.com/open?id=1UVUmPhICBbiyQXfWfkeQgOwoLKc&usp=sharing')", class='hero__image', src='/images/hero/5.jpg')
    //img(class='hero__image', src='/images/hero/7.jpg')
    img(id='link__cre', onclick="window.open('http://187.141.115.82/')", class='hero__image', src='/images/hero/1.jpg')
    img(class='hero__image', src='/images/hero/8.jpg')
    img(class='hero__image', src='/images/hero/9.jpg')
    //
      img(class='hero__image', src='images/hero/CARRUSEL-06.png')
      img(class='hero__image', src='images/hero/CARRUSEL-07.png')
      img(class='hero__image', src='images/hero/CARRUSEL-09.png')
