header(class='hero')
  section(class='hero__carousel')
    img(class='hero__image', src='images/hero/CARRUSEL-01.png')
    img(class='hero__image', src='images/hero/CARRUSEL-02.png')
    img(class='hero__image', src='images/hero/CARRUSEL-03.png')
    img(class='hero__image', src='images/hero/CARRUSEL-06.png')
    img(class='hero__image', src='images/hero/CARRUSEL-07.png')
    img(class='hero__image', src='images/hero/CARRUSEL-09.png')
