header(class='hero')
  section(class='hero__carousel')
    img(id='link__cre', onclick="window.open('http://www.gob.mx/cre/articulos/precios-maximos-vigentes-de-los-combustibles?idiom=es')", class='hero__image', src='images/hero/banner-precios-ok.png')
    img(class='hero__image', src='images/hero/banner-flotillas-ok.png')
    img(class='hero__image', src='images/hero/banner-servipits-ok.png')
    img(class='hero__image', src='images/hero/banner-ogo-ok.png')
    //
      img(class='hero__image', src='images/hero/CARRUSEL-06.png')
      img(class='hero__image', src='images/hero/CARRUSEL-07.png')
      img(class='hero__image', src='images/hero/CARRUSEL-09.png')
