article(class='mosaic', id='know')
  div(class='mosaic__container')
    div(class='mosaic__border')
      button(class='mosaic__button', id='mgas') ENCUENTRA TU ESTACIÓN MÁS CERCANA

    div(class='mosaic__box')
      a(class='mosaic__item', href='metodos.html')
        div(class='mosaic__picture')
          img(class='mosaic__image', src='images/pointers/bill.png')
          h3(class='mosaic__title') FORMAS DE PAGO

      a(class='mosaic__item', href='https://servifacil.ecsmexico.com:2001/facturacionweb/')
        div(class='mosaic__picture')
          img(class='mosaic__image', src='images/pointers/form.png')
          h3(class='mosaic__title') FACTURACIÓN

      a(class='mosaic__item', href='http://187.141.115.82/')
        div(class='mosaic__picture')
          img(class='mosaic__image', src='images/pointers/flotillas.png')
          h3(class='mosaic__title') FLOTILLAS
