nav(class='nav', data-fixed='false')
  section(class='nav__container')
    a(class='nav__link', href='index.html', alt='Servifacil')
      img(class='nav__logo', src='images/logo-white.png')

    a(class='nav__link', data-scroll="know", id="navbar__ubicanos",  href='#know') UBICACIÓN
    a(class='nav__link', data-scroll="us", id="navbar__nosotros", href='#us') NOSOTROS
    a(class='nav__link', data-scroll="services", id="navbar__servicios", href='#services') SERVICIOS
    a(class='nav__link', data-scroll="contact", id="navbar__contacto", href='#contact') CONTACTO
    a(class='nav__link', href='/metodos.html') PRODUCTOS
    a(class='nav__link', href='https://servifacil.ecsmexico.com:2001/facturacionweb/') FACTURACIÓN
    a(class='nav__link', href='http://187.141.115.82/') FLOTILLAS
    a(class='nav__link', href='http://www.gob.mx/cre/articulos/precios-maximos-vigentes-de-los-combustibles?idiom=es') PRECIOS
