nav(class='nav')
  div(class='nav__container')
    ul(class='nav__tabs')
      li(class='nav__tabsItem' id='navfirst')
        a(href='#'): img(class='nav__tabsLogo', src='images/logo-white.png')
      li(class='nav__tabsItem')
        a(class='nav__tabsLink', href='#us') NOSOTROS
      li(class='nav__tabsItem')
        a(class='nav__tabsLink', href='#know') UBICACIÓN
      li(class='nav__tabsItem')
        a(class='nav__tabsLink', href='#services') SERVICIOS
      li(class='nav__tabsItem')
        a(class='nav__tabsLink', href='metodos.html') PRODUCTOS
      li(class='nav__tabsItem')
        a(class='nav__tabsLink', href='https://servifacil.ecsmexico.com:2001/facturacionweb/') FACTURACIÓN
      li(class='nav__tabsItem')
        a(class='nav__tabsLink', href='http://187.141.115.82/') FLOTILLAS
      li(class='nav__tabsItem')
        a(class='nav__tabsLink', href='http://www.gob.mx/cre/articulos/precios-maximos-vigentes-de-los-combustibles?idiom=es', target='_blank') PRECIOS
      li(class='nav__tabsItem')
        a(class='nav__tabsLink', href='#contact') CONTACTO
