nav(class='nav')
  div(class='nav__container')
    ul(class='nav__tabs')
      li(class='nav__tabsItem')
        a(href='#'): img(class='nav__tabsLogo', src='images/logo-white.png')
      li(class='nav__tabsItem')
        a(class='nav__tabsLink', href='#know') CONÓCENOS
      li(class='nav__tabsItem')
        a(class='nav__tabsLink', href='#us') NOSOTROS
      li(class='nav__tabsItem')
        a(class='nav__tabsLink', href='#services') SERVICIOS
      li(class='nav__tabsItem')
        a(class='nav__tabsLink', href='#contact') CONTACTO
