article(class='products anchor', id='products')
  div(class='products__container')
    div(class='products__header')
      h3(class='products__title') PRODUCTOS

    p(class='products__text') El compromiso que asumimos día con día en Servifácil es ofrecer productos altamente competititvos y con calidad que superen las expectativas de nuestros clientes.
    p(class='products__text') El trabajo arduo y constante, con un equipo de profesionales altamente capacitados y receptivos ante las necesidades ddel mercado, nos ha llevado a generar soluciones empresariales, con respaldo de más de 60 anos de experiencia en el negocio de combustibles.
    p(class='products__text') Ofrecemos calidad, versatilidad, atencón y flexibilidad; estamos empenados en satisfacer las necesidades de cada tipo de cliente, ya sea una flitlla grande o pequena, transportista o usuario particular, siempre estaremos buscando la manera de hacer más por ti.

    div(class='products__sections')
      div(class='products__section', id='product-vales')
        div(class='products__box')
          h4(class='products__sectionTitle') SERVIVALES
          p(class='products__sectionText') Cargue, administre y controle su combustible mediante una solución práctica, flexible y comoda. Los Servivales pueden ser utilizados para el consumo de gasolinas, diésel y lubricantes, mediante un sofisticado sistema de vales nominales por cantidades específicas que usted puede elegir de acuerdo con sus necesidades, hábitos de consumo o prosupuesto

      div(class='products__section', id='product-crew')
        div(class='products__box')
          <h4 class='products__sectionTitle'>CONTROL DE FLOTILLAS</h4>
          p(class='products__sectionText') Con el desarrollo del Sistema de Control de Flotillas ofrecemos una solución para llevar una administración rápida, práctica y segura de la carga de combustible. Las transacciones se convierten en un modelo de gestión y control que supera el manejo de efectivo, gracias a la tecnología que empleamos
          a(class='products__sectionLink', href='http://187.141.115.82/') Ver más
