article(class='services', id='services')
  div(class='services__container')
    div(class='services__header')
      h3(class='services__title') SERVICIOS

    p(class='services__text') Nuestras estaciones de servicio destacan por la implantación de nuevas tecnologías que brindan comodida, seguridad y calidad a nuestros clientes. En Servifácil ofrecemos combustibles con estándares de calidad a nivel nacional y tiendas de conveniencia de renombre. Así mismo, atendemos las necesidades especificas de nuestros clientes, brindándoles propuestas integrales de valor, compuestas por productos, servicios, instalaciones y diversas opciones de pago (crédito, débito, vales y monederos electónicos). Servifácil invierte, investiga, capacita y pone en marcha proyectos corporativos para mantener un ritmo sostenido de avance en la calidad de sus servicios. Com empresa lider en el segmento de estaciones de servicio trabajamos todos los días más por ti.

    div(class='services__list')
      div(class='services__segment', id='gas')
        div(class='services__segmentBorder')
          h4(class='services__segmentText') GASOLINERAS
      div(class='services__segment', id='fact')
        div(class='services__segmentBorder')
          h4(class='services__segmentText') FACTURACIÓN
      div(class='services__segment', id='limp')
        div(class='services__segmentBorder')
          h4(class='services__segmentText') LIMPIEZA
      div(class='services__segment', id='spits')
        div(class='services__segmentBorder')
          h4(class='services__segmentText') SERVIPITS
      div(class='services__segment', id='provee')
        div(class='services__segmentBorder')
          h4(class='services__segmentText') PROVEEDORES
