article(class='us', id='us')
  div(class='us__container')
    header(class='us__header')
      h2(class='us__title') NOSOTROS

    div(class='us__sections')
      div(class='us__section')
        img(class='us__sectionImage', src='images/us/us-05.png')
        h3(class='us__sectionLabel') Quienes somos
        p(class='us__sectionDescription') Somos una empresa mexicana, con presencia comercial en los Estados de Tabasco, Veracruz, el Valle de México e Hidalgo.  Todas nuestras gasolineras cuentan con la certificación Cualli de la franquicia PEMEX.
        a(class='us__sectionText', id='qs-link', href='#') Leer más

      div(class='us__section')
        img(class='us__sectionImage', src='images/us/us-06.png')
        h3(class='us__sectionLabel') Valores
        p(class='us__sectionDescription') Somos una empresa profundamente comprometida con brindar un servicio de calidad a todos nuestros clientes; esto lo logramos basándonos en una sólida filosofía afianzada en nuestros valores corporativos.
        a(class='us__sectionText', href='#', id='mvv-link') Leer más

      div(class='us__section')
        img(class='us__sectionImage', src='images/us/us-09.png')
        h3(class='us__sectionLabel') Historia
        p(class='us__sectionDescription') Durante el inicio del Siglo XX, con la introducción del ferrocarril Transístmico y el descubrimiento de la “Faja de Oro” de petróleo en el Golfo de México, inversionistas ingleses construyeron la primera refinería del Sureste Mexicano en Minatitlán, Veracruz.
        a(class='us__sectionText', id='h-link', href='#') Leer más

      div(class='us__section')
        img(class='us__sectionImage', src='images/us/us-07.png')
        h3(class='us__sectionLabel') Resp. Social
        p(class='us__sectionDescription') Somos una empresa fuertemente comprometida con la mejora de nuestro entorno social y el apoyo a quienes lo necesitan.
        a(class='us__sectionText', id='rs', href='#') Leer más
