doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Servifacil | Metodos de pago
    //link(href='css/main.css', rel='stylesheet')
    link(href='css/metodos.css', rel='stylesheet')

  body
    main
      include ./metodos/modals/debit
      include ./metodos/modals/credit
      include ./metodos/modals/vales

      include ./metodos/nav
      include ./metodos/mobile/nav
      include ./metodos/hero
      include ./metodos/payments

    script(src='javascript/metodos.js', async='true', defer='true')
