header(class='hero')
  div(class='hero__container')
    h2(class='hero__title') FORMAS DE PAGO

    div(class='hero__float')
      div(class='hero__section')
        img(class='hero__image' src='images/card.png')
        a(class='hero__label', href='#debit') DÉBITO

      div(class='hero__section')
        img(class='hero__image', src='images/card.png')
        a(class='hero__label', href='#credit') CRÉDITO

      div(class='hero__section')
        img(class='hero__image', src='images/vales.png')
        a(class='hero__label', href='#servivales') SERVIVALES
