nav(class='nav', data-fixed='false')
  section(class='nav__container')
    a(class='nav__link', href='index.html', alt='Servifacil')
      img(class='nav__logo', src='images/logo-white.png')

    a(class='nav__link', href='/index.html?paramUbi=true') UBICACIÓN
    a(class='nav__link', href='/index.html?paramUs=true') NOSOTROS
    a(class='nav__link', href='/index.html?paramServ=true') SERVICIOS
    a(class='nav__link', href='/index.html?paramCont=true') CONTACTO
    a(class='nav__link', href='/metodos.html') PRODUCTOS
    a(class='nav__link', href='https://servifacil.ecsmexico.com:2001/facturacionweb/') FACTURACIÓN
    a(class='nav__link', href='http://187.141.115.82/') FLOTILLAS
    a(class='nav__link', target="_blank", href='/tabla_de_precios.pdf') PRECIOS
