nav(class='nav', data-fixed='false')
  section(class='nav__container')
    a(class='nav__link', href='index.html', alt='Servifacil')
      img(class='nav__logo', src='images/logo-white.png')

    a(class='nav__link', href='/index.html#conocenos') CONÓCENOS
    a(class='nav__link', href='/index.html#conocenos') NOSOTROS
    a(class='nav__link', href='/index.html#conocenos') SERVICIOS
    a(class='nav__link', href='/index.html#conocenos') CONTACTO
