article(class='payments')
  div(class='payments__container')
    div(class='payments__section', id='debit')
      img(class='payments__splash' src='images/splash.png')
      h3(class='payments__mobileTitle') Debito
      p(class='payments__text-debt') En este producto se ofrecen todas las ventajas del control automatizado. Su depósito es administrado por el Sistema de Control de Flotillas que va facturando sus consumos en el periodo solicitado y generando saldos actualizados conforme usted realiza sus pagos. El medio para realizar la carga de combustible atraves de tarjeta de débito.

      div(class='payments__picture-debt')
        img(class='payments__picture-debtImage', src='images/card-white.png')
        p(class='payments__picture-debtText') DÉBITO
        a(class='payments__see-debt', id='sm-debit', href='#sm-debit') VER MÁS

    div(class='payments__section', id='credit')
      img(class='payments__credit', src='images/splash.png')
      h3(class='payments__mobileTitle') Credito
      p(class='payments__creditText') Hemos creado además una herramienta util y fléxible, Servifácil Crédito, para apoyar a los empresarios mediante una linea de crédito autorizado, donde puede utilizar el Sistema de Control de Flotillas, y    a sea con tarjetas de banda mágnetica o con códigos de barras.

      div(class='payments__creditPicture')
        img(class='payments__creditPictureImage', src='images/card-white.png')
        p(class='payments__creditPictureText') CRÉDITO
      a(class='payments__creditSee-more', id='sm-credit', href='#sm-credit') VER MÁS

    div(class='payments__section', id='servivales')
      img(class='payments__vales', src='images/splash.png')
      h3(class='payments__mobileTitle') Servivales
      p(class='payments__valesText') Cargue, administre y controle su combustible mediante una solución práctica, fléxible y cómoda. Los Servivales pueden ser utilizados para el consumo de gasolinas, diésel y lubricantes, mediante un sofisticado sistema de vales nominales por cantidades especificadas que usted elegir de acuerdo con sus necesidades.
      div(class='payments__valesPicture')
        img(class='payments__valesPictureImage', src='images/vales-white.png')
        p(class='payments__valesPictureText') SERVIVALES
      a(class='payments__valesSee-more', id='sm-vales', href='#sm-vales') VER MÁS
  .payments__modalsButtonsContainer
      a(class='payments__see-debt payments__modalButton', id='sm-debit2', href='#sm-debit') Debito
      a(class='payments__creditSee-more payments__modalButton', id='sm-credit2', href='#sm-credit') Crédito
      a(class='payments__valesSee-more payments__modalButton', id='sm-vales2', href='#sm-vales') Vales
  div(class="payments__container--image")
    img(src="images/LAVA.png")